workflow_clean.json
{
  "name": "LinkedIn Post Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        32
      ],
      "id": "9c8a5755-2a90-48e7-83d9-675038caa613",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a professional LinkedIn post about: {{$json.topic}}",
        "options": {
          "systemMessage": "ROLE\nYou are a professional LinkedIn content writer.\n\nTASK\nCreate a high-quality LinkedIn post about the topic provided by the user.\n\nKNOWLEDGE\nUse your general knowledge of current trends and industry practices. \nWrite as if the insights are based on widely known industry observations and recent developments.\nDo NOT fabricate statistics, studies, or sources.\n\nWRITING STYLE\n- Professional and engaging tone\n- Natural human writing style\n- Short readable paragraphs\n- No markdown formatting\n- Do NOT use asterisks, bold formatting, numbered lists, or bullet points\n- Use a maximum of 2\u20133 light emojis only if they fit naturally\n- Keep the content clear and easy to read for LinkedIn\n\nSTRUCTURE\n1. Start with a strong hook (1\u20132 lines) that captures attention.\n2. Share 2\u20133 practical insights or observations related to the topic.\n3. Add a short takeaway or lesson.\n4. End with a clear question to encourage engagement.\n5. Add 4\u20136 relevant hashtags at the end.\n\nFORMATTING RULES\n- Do not use any markdown symbols such as *, **, -, or numbered lists.\n- Do not create sections like \"Sources\" or \"References\".\n- Write everything in clean plain text suitable for direct LinkedIn posting.\n\nOUTPUT RULES\nReturn only the final LinkedIn post text.\nDo not include explanations, notes, or extra commentary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        32
      ],
      "id": "0154acc0-db9b-4c11-bc29-6c110b790254",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        0,
        272
      ],
      "id": "02dcd8cc-d1aa-403e-996a-c7e234cc937d",
      "name": "OpenRouter Chat Model",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "person": "YOUR_LINKEDIN_PERSON_URN",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        368,
        32
      ],
      "id": "0ffd8511-7c07-4bd2-a921-ba2c217a8375",
      "name": "Create a post"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        32
      ],
      "id": "5022da90-5867-4157-9016-f2d9e45c87f5",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_URL",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post",
              "displayName": "post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_date",
              "displayName": "posted_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        32
      ],
      "id": "86fc8921-24db-44ef-87f7-9c4ec5537177",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa3e1c78-1d46-417c-ae6b-2e89a4835931",
              "name": "row_number",
              "value": "={{$node[\"Get row(s) in sheet\"].json[\"row_number\"]}}",
              "type": "string"
            },
            {
              "id": "31c1cdde-9e0e-4c75-9b2f-2bd88aa402e2",
              "name": "post",
              "value": "={{$node[\"AI Agent\"].json[\"output\"]}}",
              "type": "string"
            },
            {
              "id": "a36b0456-130c-46e2-8215-87a692f5aa83",
              "name": "status",
              "value": "posted",
              "type": "string"
            },
            {
              "id": "e4a1d7bd-2379-4206-8efd-e13e626dce96",
              "name": "posted_date",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        32
      ],
      "id": "cde3efcc-84eb-4384-9374-30b35aaea5d9",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "faf929ac-dcfa-4f23-8405-6bf8752f5813",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}